In [44]:
import pandas as pd

In [90]:
df = pd.read_csv('dataset_Facebook.csv')

In [91]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users
0,139441,Photo,2,12,4.0,3,0.0,2752.0,5091.0,178.0
1,139441,Status,2,12,3.0,10,0.0,10460.0,19057.0,1457.0
2,139441,Photo,3,12,3.0,3,0.0,2413.0,4373.0,177.0
3,139441,Photo,2,12,2.0,10,1.0,50128.0,87991.0,2211.0
4,139441,Photo,2,12,2.0,3,0.0,7244.0,13594.0,671.0

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Page total likes                 500 non-null    int64
 1   Type                             496 non-null    object
 2   Category                         500 non-null    int64
 3   Post Month                       500 non-null    int64
 4   Post Weekday                     496 non-null    float64
 5   Post Hour                        500 non-null    int64
 6   Paid                             497 non-null    float64
 7   Lifetime Post Total Reach        496 non-null    float64
 8   Lifetime Post Total Impressions  499 non-null    float64
 9   Lifetime Engaged Users           496 non-null    float64
dtypes: float64(5), int64(4), object(1)
memory usage: 39.2+ KB

In [93]:
df = df.drop(['Type'], axis=1)

In [107]:
df = df[~df['Post Weekday'].isnull()]
df = df[~df['Paid'].isnull()]
df = df[~df['Lifetime Post Total Reach'].isnull()]
df = df[~df['Lifetime Post Total Impressions'].isnull()]
df = df[~df['Lifetime Engaged Users'].isnull()]

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 484 entries, 0 to 498
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Page total likes                 484 non-null    int64
 1   Category                         484 non-null    int64
 2   Post Month                       484 non-null    int64
 3   Post Weekday                     484 non-null    float64
 4   Post Hour                        484 non-null    int64
 5   Paid                             484 non-null    float64
 6   Lifetime Post Total Reach        484 non-null    float64
 7   Lifetime Post Total Impressions  484 non-null    float64
 8   Lifetime Engaged Users           484 non-null    float64
dtypes: float64(5), int64(4)
memory usage: 37.8 KB

In [109]:
y = df['Paid']

In [110]:
from sklearn.linear_model import LogisticRegression

In [114]:
df = df.drop('Paid', axis=1)

In [115]:
model = LogisticRegression(max_iter=10000)
model.fit(df, y)
predict = model.predict(df)

In [116]:
predict

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0.])

In [113]:
sum(abs(y - predict))

136.0

In [118]:
from sklearn.model_selection import train_test_split

In [119]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.33, random_state=42)

In [120]:
X_train.head()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users
164,135428,1,9,5.0,10,1060.0,2004.0,266.0
466,91865,2,2,5.0,13,4840.0,7466.0,949.0
125,136393,1,10,7.0,5,677.0,1240.0,236.0
121,136393,2,10,7.0,9,15816.0,30514.0,2733.0
456,92935,1,2,3.0,9,3796.0,6737.0,949.0

In [121]:
model = LogisticRegression(max_iter=10000)
model.fit(X_train, y_train)
predict = model.predict(X_test)

In [122]:
from sklearn.metrics import precision_score, recall_score, accuracy_score, classification_report 
from sklearn.metrics import accuracy_score, f1_score

print('precision', precision_score(y_test, predict))
print('recall', recall_score(y_test, predict))
print('accuracy', accuracy_score(y_test, predict))
print('f1', f1_score(y_test, predict))

precision 0.4
recall 0.046511627906976744
accuracy 0.725
f1 0.08333333333333333